{{> header}}
<main>
  <h1>Share in some positive thoughts!</h1>
  <p> According to the <a href='https://www.stress.org/workplace-stress'>American Institute of Stress</a>, almost 60% of Americans feel paralyzed by their stress. And over 94% feel stress at the workplace. Take some time to celebrate you. Each day, add in one thing you accomplished to your personal space.</p>
  <p>Currently, you are {{#unless isLoggedIn}} NOT {{/unless}} logged in.</p>
  <p>You should {{#unless isLoggedIn}}NOT{{/unless}} be able to access <a href="/private">your accomplishments page</a>.</p>
  <p>Use the header above to {{#if isLoggedIn}} logout{{else}} login or create an account{{/if}}.</p>
</main>
