{{> header}}
<main>
  <h1>What did you accomplish today?</h1>
  <form class="create-post" action="/api/protected" method="POST">
    <div> <label for="post-body">Share your achievement</label></div>
    <div> <textarea name="body" id="body" rows="4" required></textarea>
      {{#if post}}
        {{{post.body}}}
      {{/if}}
    </div>
   <div> <button class="btn">Submit</button></div>
  </form>
  <article>
    <h1>{{post.body}}</h1>

    <p class="created-at"><em>Posted: {{post.createdAt}}</em></p>
    <p class="homepage-link">
      <a href="/">Homepage</a>
    </p>
  </article>
</main>
<script>
</script>