{{> header}}
<main>
  <h1>What did you accomplish today?</h1>
  <form class="create-post" id="create-post" action="/api/post" method="POST">
    <div> <label for="post-body">Share your achievement</label></div>
    <div> <textarea name="body" id="body-text" rows="4" required></textarea>
    </div>
   <div> <button class="btn">Submit</button></div>
  </form>
  <article>
    {{post}}
    <p class="motivation">Need some motivation today? Click the button.</p>
  <div> <button class="btn" id="quoteBtn">Inspirational Quotes</button></div>
  <div id="quoteSpace"></div>
    <p class="homepage-link">
      <a href="/">Homepage</a>
    </p>
  </article>
</main>
<script>
  const inspireBtn = document.getElementById('quoteBtn')
  inspireBtn.onclick = function(e) {
    fetch("https://type.fit/api/quotes")
  .then(function(response) {
    return response.json();
  })
  .then(function(data) {
    console.log(data);
    var randomSelect = data[Math.floor(Math.random()*data.length)];
    randomQuote = randomSelect.text
    console.log(randomQuote)
    var quoteBlock= document.createElement("h2");
    document.getElementById("quoteSpace").innerHTML=randomQuote

  });
  }
   //const submitBtn = document.getElementById('create-post').onsubmit = function(e) {
    //e.preventDefault()
    //console.log(submitBtn)
    //var pullText = (document.getElementById('body-text').value)
    //console.log(pullText)
 // }
</script>